{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h1 class="display-1 text-center">Add A Playlist</h1>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <form method="POST">
                {{ form.hidden_tag() }}
                {% for field in form if field.widget.input_type != 'hidden'%}
                <div class="form-group">
                {{field.label}}
                {{field(class_="form-control")}}

                {% for err in field.errors %}
                {{err}}
                {% endfor %}
                </div>
                {% endfor %}
                <button class="btn btn-primary text-center mt-4">Add</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}